.imageCarousel{
    position: relative;
    width: 100%;

    
    &Wrapper {
        max-width: 50%;
        //display: flex;
        //flex-wrap: wrap; 
        //gap: 20px;
        //@media screen and (min-width: 768px) {
        //    gap: 40px;
        //}
    }
     
    &Col {
        width: 100%;
        @media screen and (min-width: 768px) {
            width: calc((100% - 40px) / 2);
        }
        &.right {
            text-align: left;
            padding-top: 30px;
             
        }
        &.left {
            // margin-right: 20px;
            color: gray;
             
        }
    }
     
}
 