@use './variables.scss' as *;

@mixin primary-boutton {
    position: relative;
    background-color: $blue;
    padding: 20px 30px;
    border-radius: 50px;
    color: #fff;
    border: 1px solid $blue;
    margin-top: 20px;
    display: inline-block;
    z-index: 1;
    &:hover {
        background-color: $black;
        color: $white;
        border: 1px solid $white;
    }
}

@mixin secondary-button {
    padding: 10px 20px;
    position: relative;
    background-color: $blue;
    padding: 10px 20px;
    border-radius: 50px;
    color: $white;
    border: 1px solid $blue;
    margin-top: 20px;
    display: inline-block;
    &:hover {
        background-color: $white;
        color: $blue;
    }
}