//.customPaging {
//    position: relative;
//    width: 100%;
//    border: 1px solid #000;

//    .container {
//        border: 1px dashed #000;
//        display: flex;
//        flex-wrap: wrap;
//        gap: 20px;
//    }

//    &Col {
//        position: relative;
//        width: 100%;
//        @media screen and (min-width: 768px) {
//            width: calc((100% - 40px) / 2);
//        }
//        &.right {
//            text-align: left;
//            padding-top: 30px;
//        }
//        &.left {
//            color: gray;
//        }
//    }
//    .slick-dots {
//        background-color: red !important;
//    }
//}
.customPaging {
    .slick-dots {
      display: flex !important;
      justify-content: center !important;
      margin-top: 20px !important;
      list-style: none !important;
      padding: 0 !important;
  
      li {
        margin: 0 5px !important;
  
        &.slick-active {
          button {
            border: 2px solid #0070f3 !important;
          }
        }
  
        button {
          display: inline-block !important;
          width: 50px !important;
          height: 50px !important;
          padding: 0 !important;
          border: 1px solid #ccc !important;
          border-radius: 5px !important;
          overflow: hidden !important;
          background-color: transparent !important;
          cursor: pointer !important;
  
          img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover !important;
          }
        }
      }
    }
  }
  