 .customPaging {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 0;
  &Container {
    display: flex;
  }
  &Left {
    width: 60%;
  }
  &Right {
    width: 30%;
    padding: 30px;
  }
 }