@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.slider {
    position: relative;
    &Wrap {
        padding: 50px 0 ;
    }
    
    &Title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
    }
    
}
.slide {
    padding: 0;
    @media screen and (min-width: 768px) {
        padding: 0 10px;
    }
    &:hover {
        border: 1px solid $blue;
        //.slideImg {
        //    transform: scale(1.1);  
        //}
    }
    
    &Img {
        width: 100%;
        height: 100%;
    }

    &InfoWrap {
        padding: 20px 30px;
        text-align: center;
    }
    &Link {
        @include secondary-button;
    }

    &Title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
}
 

